 .homePageContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin: 0;
    background-color: grey;
} 

.viewButton {
    display: block;
    padding: 10px;
    width: fit-content;
    margin:20px auto;
    cursor: pointer;
}


.searchArea {
    margin: 20px;
}

.searchArea input{
    margin: 5px;
}

.searchBar {
    
}